<%= form_for @project do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Project name", class: "form-control", autofocus: true %>

     <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Descritption", class: "form-control" %>

<br>
    <select name="project[category_id]">
      <%= @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

<br>
<br>
  <%= f.submit "Save Project", class: "btn btn-primary" %>
<% end %>

