<h1><%= @project.name %></h1>

		

	<ul>
		<li>Description: <%= @project.description %></li>
		<li>Cost $<%= @project.cost %></li>
		<li>Risks: <%= @project.risk %></li>
	</tr>
	</ul>



<% if user_signed_in? %>
  <%= link_to "Edit Project", edit_project_path(@project) %>
  <%= link_to "Delete Project", project_path(@project), method: :delete %>
  <%end%>
