<h1>Examples of <%= @category.name %> Projects</h1>


<% @projects.each do |project| %> 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project Name: <%= project.name %></h3>
  </div>
  <div class="panel-body">
    Project Description:<%= project.description %>
  </div>
  <%= link_to  "View Project", project_path(project) %>
</div>
<% end %>


<%= link_to  "Return to project categories", browse_index_path %>