<h1>Examples of <%= @category.name %> Projects</h1>
<% @projects.each do |project| %> 
<h2>Project Name: <%= project.name %><h2>
<p>Project Description:<%= project.description %></p>
<%= project.duration %>
<%= project.scope %>
<%= project.risk %>
<%= project.members %>
<% end %>


<%= link_to  "Return to project categories", browse_index_path %>